body{
    background: #1e1f24;
    color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera{
    background: #37488b;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5cm;
}

#cabecera #logo{
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline{
    padding: 0 0 0 1cm;
    font-weight: normal;
    font-size: 0.8cm;
}

#container{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}

.css-button-retro--blue {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 1px solid #000;
    color: #000;
    background: transparent;
    z-index: 0;
}

.css-button-retro--blue:hover:after {
    top: 0;
    left: 0;
}

.css-button-retro--blue:after {
    content: "";
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 5px;
    left: 5px;
    transition: 0.2s;
    background-color: #3d348b;
}

.css-button-fully-rounded--black {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #212529;
    background: #212529;
}

.css-button-fully-rounded--black:hover {
    background: #fff;
    color: #212529
}

#post{
    background: white;
    padding: 1cm;
}