.ppal{
    font-family: Arial, Helvetica, sans-serif;
    border-color: black;
}
.tittle{
    font-size: 15px;
}

.css-button-retro--blue {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 1px solid #000;
    color: #000;
    background: transparent;
    z-index: 0;
}

.css-button-retro--blue:hover:after {
    top: 0;
    left: 0;
}

.css-button-retro--blue:after {
    content: "";
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 5px;
    left: 5px;
    transition: 0.2s;
    background-color: #3d348b;
}